@page "/customers/create/"

@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Add New Customer:</h3>
<hr />
<br />

<FormComponent ButtonText="Add Customer" OnValidSubmit="@CreateCustomer" customer="this.newCustomer" />

@code {
    Customer newCustomer = new Customer();

    private async Task CreateCustomer()
    {
        await _client.PostAsJsonAsync(Endpoints.CustomersEndpoint, newCustomer);
        _navManager.NavigateTo("/customers/");
    }
}
