@page "/colours/create/"

@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Add New Colour</h3>
<hr />
<br />

<FormComponent ButtonText="Add Colour" OnValidSubmit="@CreateColour" colour="newColour" />

@code {
    Colour newColour = new Colour();

    private async Task CreateColour()
    {
        await _client.PostAsJsonAsync(Endpoints.ColoursEndpoint, newColour);
        _navManager.NavigateTo("/colours/");
    }
}
