@page "/colours/"
@attribute [Authorize]

<h3 class="card-title">Colours:</h3>
<hr />
<a href="/colours/create" class="btn btn-primary mb-3">
    <span class="oi oi-plus"></span>
    Add New Colour
</a>
<br />

@if (this.Colours == null)
{
    <div cass="alert alert-info">Loaking Colours...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Colour colour in this.Colours)
            {
                <tr>
                    <td>@colour.Name</td>
                    <td>
                        <a href="/colours/view/@colour.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/colours/edit/@colour.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(colour.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}