@page "/makes/create/"

@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Add New Make:</h3>
<hr />
<br />

<EditForm Model="@this.newMake" OnValidSubmit="CreateMake">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Colour Name:</label>
        <div>
            <InputText class="form-control" @bind-Value="@newMake.Name" />
            <ValidationMessage For="@(() => newMake.Name)" />

        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Add Make</button>
</EditForm>

@code {
    Make newMake = new Make();

    private async Task CreateMake()
    {
        await _client.PostAsJsonAsync(Endpoints.MakesEndpoint, newMake);
        _navManager.NavigateTo("/makes/");
    }
}
