@page "/makes/create/"

@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Add New Make:</h3>
<hr />
<br />

<FormComponent ButtonText="Create" OnValidSubmit="@CreateMake" make="this.newMake" />

@code {
    Make newMake = new Make();

    private async Task CreateMake()
    {
        await _client.PostAsJsonAsync(Endpoints.MakesEndpoint, newMake);
        _navManager.NavigateTo("/makes/");
    }
}
