@page "/models/create/"

@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Add New Model:</h3>
<hr />
<br />

<FormComponent ButtonText="Add Model" OnValidSubmit="@CreateModel" model="this.newModel" />

@code {
    Model newModel = new Model();

    private async Task CreateModel()
    {
        await _client.PostAsJsonAsync(Endpoints.ModelsEndpoint, newModel);
        _navManager.NavigateTo("/models/");
    }
}
